*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.container {
  justify-content: center;
  align-items: center;
  padding: 50px;
}    


.error{
  color: red;
}

.Todolist-items{
  width: 67%;
  margin-left: 277px;
}
/* .fa-edit, .fa-trash{
float: right;
}

.fa-trash {
  margin-right: 20px;
} */

.icons{
  float: right;
}

.fa-edit{
  margin-right: 20px;
  cursor: pointer;
}

.fa-trash {
  cursor: pointer;
}
.alert-danger{
  text-align: center;
}